@import '../../scss/vars';

.tasks-item {
  background-color: $light-bg;
  padding: 15px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  white-space: initial;
  color: $secondary-text-color;
  box-shadow: 0px 2px 5px #0000001a;
  transition: .2s ease;
  transition-property: opacity, background-color;
  cursor: pointer;
  
  &:hover {
    background-color: #f3f3f3;
  }

  &.editing:hover {
    background-color: $light-bg;
  }
}

.draggable-wrapper {
  &.underDrag>.tasks-item {
    background-color: $underDrag-task;
    opacity: 0.5;
  }

  &.dragged>.tasks-item {
    background-color: $underDrag-task;
    opacity: 0.5;
  }
}

