@import '../../scss/vars';

.tasks {
  &-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-caption {
    flex-grow: 1;
    font-size: 1.3rem;
    color: $main-text-color;
    cursor: pointer;
    white-space: normal;
    
    &.editing {
      background-color: $light-bg;
    }
  }

  &-removeTodo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 20px;
    margin-left: 10px;
    border: none;
    border-radius: 50%;
    color: $main-text-color;
    background-color: #dce4eab0;
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
      background-color: $remove-color;
      color: $light-text-color;
    }

    &:focus {
      outline: none;
      background-color: $remove-color;
      color: $light-text-color;
    }
  }

  &-form {
    padding: 10px;
  }

  &-addButton {
    background: #edf5fc;
    border: none;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    color: $main-text-color;
    transition: all .2s ease;
    z-index: 5;

    &:focus {
      outline: none;
      background: #00000012;
    }

    &:hover {
      background: #00000012;
    }
  }

  &-form > input {
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    width: 100%;
  }
  
  &-list {
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    background-color:$task-bg;
    transition: background-color .5s ease;
  }
}
