@import "vars";

.tasks-item {
  background-color: #fff;
  padding: 15px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  white-space: initial;
  cursor: pointer;

  /* &.underDrag {
    opacity: 0.5;
  } */
}

.draggable-wrapper {
  &.dragged {
    opacity: 0.1;
  }

  &.underDrag {
    opacity: 0.5;
  }
}

