@import "vars";

.tasks-item {
  background-color: #fff;
  padding: 15px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  white-space: initial;
  // cursor: pointer;
  cursor: grab;
  // box-shadow: 0px 2px 5px #b6b6b6;
  box-shadow: 0px 2px 5px #cccccc;
  transition: all .2s ease;

  &:hover {
    // background-color: #607d8b2a;
    // background-color: rgb(239, 239, 239);
    background-color: #f3f3f3;
  }

  &.editing:hover {
    background-color: #fff;
  }

  /* &.underDrag {
    opacity: 0.5;
  } */
}

.draggable-wrapper {
  &.dragged {
    opacity: 0.5;
    cursor: grabbing;
  }

  &.underDrag>.tasks-item {
    background-color: #607d8b52;
    opacity: 0.5;
  }

  &.dragged>.tasks-item {
    background-color: #607d8b52;
  }
}

