@import 'vars';

.todos {
  height: 100%;
  width: auto;
}

.todos-header {
  height: 10%;
  padding: 10px $main-padding;
}

.todos-list {
  // display: ;
  height: 90%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: $main-padding;
  white-space: nowrap;
}
