@import 'vars';

.todos {
  height: 100%;
  width: auto;

  &-boardCaption {
    color: $main-text-color;
    background-color: #edf5fc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      // background-color: #edf5fc94;
      background-color: rgb(237, 237, 237);
    }

    &.editing {
      background-color: #fff;
    }
  }
}

.todos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 10px $main-padding;
}

.todos-list {
  height: 90%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: $main-padding;
  white-space: nowrap;
  // background-color: slategrey;
}
