@import 'vars';

.todos {
  height: 100%;
  width: auto;
}

.todos-header {
  height: 15%;
  padding: $main-padding;
}

.todos-list {
  // display: ;
  height: 85%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px $main-padding;
  white-space: nowrap;
}

.tasks-list {
  padding: 10px;
  height: 85%;
  overflow-y: auto;
}