@import 'vars';


.todos-item {
  width: 250px;
  // display: inline-block;
  display: inline-flex;
  flex-direction: column;
  margin-right: 20px;
  height: 100%;
  // background: floralwhite;
  background-color: $boards-color;
  vertical-align: top;
  overflow-y: hidden;
  border-radius: 5px;

  &:last-child {
    margin-right: 0px;
  }
}

.tasks {
  &-header {
    // height: 15%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-caption {
    font-size: 1.3rem;
    color: #606066;
    cursor: pointer;
    white-space: normal;
    // margin-bottom: 20px;
    
    &.editing {
      background-color: #fff;
    }
  }

  &-form {
    padding: 10px;
  }

  &-addButton {
    background: #edf5fc;
    border: none;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    color: #606066;
    transition: all .2s ease;

    &:focus {
      outline: none;
    }

    &:hover {
      // background: rgb(238, 238, 238);
      background: #00000012;
    }
  }

  &-form > input {
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    width: 100%;
  }
  
  &-list {
    padding: 10px;
    height: 100%;
    overflow-y: auto;
  }
}

.droppable-wrapper {
  // height: 85%;
  flex: 1 1 auto;
  overflow-y: auto;
  // &.underDrag {
  //   // background: #7fffd4a1;
  //   background: antiquewhite;
  //   // background: seashell;
  // }
}