@import '../scss/vars';

*{
  box-sizing: border-box;
}

body, html {
  position: relative;
  height: 100%;
  margin: 0px;
  font-family: $main-font;
  background-color: $prime-color;
  // overflow-x: auto;
  // overflow-y: hidden;
}

#react-container {
  // min-height: 100vh;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5 {
  margin: 0px;
}

[contenteditable=true] {
  &:focus {
    outline: 3px solid #2196f3;
    cursor: auto;
    // outline: none;
    // border: 2px solid black;
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}