@import '../../scss/vars';

.add-form {
  display: flex;

  & > *{
    transition: all .2s ease;
  }

  & > [type='text'] {
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid $secondary-color;
    border-right: none;

    &:focus {
      outline: none;
      border-color: $prime-color;
    }
  }

  & > [type='submit'] {
    border: none;
    color: $light-text-color;
    background-color: $secondary-color;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    
    &:hover {
      background-color: $secondary-color-highlighted;
    }

    &:focus {
      outline: none;
      background-color: $secondary-color-highlighted;
    }
  }
}
