@import '../../scss/vars';

.basket-wrapper {
  height: 50px;

  &.underDrag>.basket {
    background-color: #ca3b47c5;
    opacity: 0.7;
  }
}

.basket{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 250px;
  border: 2px dashed $secondary-color;
  color: $light-text-color;
  border-radius: 5px;
  transition: all .2s ease;
  cursor: default;
}
