@import '../../scss/vars';

.boards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  &-list {
    padding: 5%;
    margin: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10%,300px));
    justify-content: center;
    gap: 20px;
    list-style: none;
  }

  &-item {
    position: relative;
    background-color: $boards-color;
    border-radius: 3%;
    transition: box-shadow .2s linear;
    height: 200px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 7%;
      height: 100%;
      width: 100%;
      color: $secondary-text-color;
      font-size: 25px;
      text-decoration: none;
      overflow-y: auto;
    }

    &:hover {
      box-shadow: 0 5px 13px rgba(58, 83, 94, 0.67);
    }
  }

  &-name {
    margin: auto;
  }

  &-remove {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      color: $remove-color;
    }

    &:focus {
      outline: none;
      color: $remove-color;
    }
  }

  &-empty {
    font-size: 30px;
    color: $empty-color;
  }
}