@import '../../scss/vars';

.boards {
  height: 100%;

  & .add-form {
    & > *{
      font-size: 20px;
    }

    & > [type='text'] {
      padding: 15px;
      text-align: center;
      min-width: 350px;
      background-color: #f7fbff;
      border-color: transparent;

      &:focus {
        border-color: $prime-dark-color;
      }
    }

    & > [type='submit'] {
      width: 50px;
      background-color: $prime-dark-color;

      &:focus, &:hover {
        background-color: $secondary-color;
      }
    }
  }
}