$prime-color: #B8C5D6;
$secondary-color: #009688;
$secondary-color-highlighted: rgba(0,150,136,.65);
$boards-color: #EDF5FC;
$boards-text-color: #272D2D;
$main-text-color: #606066;
$main-font: 'Arial', sans-serif;
$main-padding: 20px;
$task-shadow: 0 2px 5px #ccc;

// $task-hover-color: #d4ebff;