// Colors
$prime-color: #B8C5D6;
$secondary-color: #009688;
$secondary-color-highlighted: rgba(0,150,136,.65);
$light-bg: #fff;
$task-bg: #cfe3f4;
$main-text-color: #606066;
$secondary-text-color: #39393e;
$light-text-color: #fcfcfc;
$boards-color: #EDF5FC;
$remove-color: #e04f4f;
$empty-color: lightslategray;
$underDrag-task: #607d8b52;
$underDrag-todo: #C0D6DF;
// Fonts
$main-font: 'Arial', sans-serif;
// Other
$main-padding: 15px;
$task-shadow: 0 2px 5px #ccc;