@import '../../scss/vars';

.todos {
  &-section {
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 5px;
  }

  &-empty {
    font-size: 30px;
  }

  &-list {
    padding: $main-padding;
    white-space: nowrap;
    height: 100%;
  }
}